if [ -d ~/.aliases.d/ ]; then
    for file in ~/.aliases.d/*.sh; do
        [ -r "${file}" ] && source "${file}"
    done
    unset file
fi

# Shell commands
alias ls='ls --color=auto -F'
alias ll='ls -l'
alias la='ls -A'
alias l='ls -CF'
alias grep="grep --color --exclude-dir='.svn' --exclude-dir='.git'"

# Shorthands
alias g="git"
alias aptg="apt-get"
alias aptc="apt-cache"
alias s="sudo "
alias v="vagrant"
alias a="ansible"
alias ap="ansible-playbook"
alias ax="ansible-galaxy"
alias e="${EDITOR}"
alias d="docker"
alias dc="docker-compose"
alias dm="docker-machine"
alias h="heroku"

# Utilities with some sane defaults
alias rdp="xfreerdp /size:80% /scale:180 /kbd:'United Kingdom Extended' -themes -menu-anims +clipboard"
alias swapcaps='xmodmap ~/.Xmodmap'
alias tmux='tmux -2'
alias ejson='ejson --keydir ~/.ejson/keys'
alias minikube-start='minikube start --insecure-registry localhost:5000'

# Custom commands
alias pproute="ip route | sort -k5 | perl -pe 's/^/$. - /'"
alias pip-upgrade="sudo pip install --upgrade pip && sudo pip list --outdated --format json | jq -r '.[].name' | xargs sudo pip install --upgrade"
alias ducks="du -cms * | sort -rn | head"
alias yml-validate="python -c 'import yaml,sys;yaml.safe_load(sys.stdin)'"
alias d-rmi="docker images -q --filter 'dangling=true' | xargs docker rmi"
alias d-rm="docker ps -a -q -f status=exited | xargs docker rm -v"
alias d-volumes-rm="docker volume ls -qf dangling=true | xargs docker volume rm"

