[user]
    name = Manuel Tiago Pereira
    email = mt.pereira@gmail.com
    signing = key

[merge]
    tool = vimdiff

[alias]
    ci   = commit --verbose
    cam  = commit --amend
    st   = status
    s    = status -s -b
    l    = log --graph --decorate --all --name-status --pretty='%C(auto)%h%Creset %C(auto)%d%Creset %cN (%ce) %ad %n %s'
    df   = diff
    co   = checkout
    cob  = checkout -b
    a    = add
    ap   = add -p
    f    = fetch
    ps   = push --set-upstream
    pst  = !git ps && git ps --tags
    pl   = pull
    up   = !git pull $@ && git submodule update --init --recursive
    m    = merge
    b    = branch
    ba   = branch -a
    bd   = branch -d
    bD   = branch -D
    dc   = diff --cached
    rank = shortlog -sn --no-merges
    bdm  = "!git branch --merged | grep -v '*' | xargs -n 1 git branch -d"
    bdr  = "!git push origin --delete $@ && git branch -D $@"
	ly   = log --since 'yesterday' --all --abbrev-commit --no-merges --oneline --committer='Manuel Tiago Pereira' --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

[color]
    ui = auto

[core]
    excludesfile = ~/.gitignore

[push]
    default = simple

[branch]
    autosetuprebase = always

[commit]
    gpgsign = true

[init]
	templatedir = ~/.git-templates
