""" plugins
set surround
set commentary
set highlightedyank
set matchit
set which-key

""" keybindings
let mapleader=" "

""" settings
set number=true
set relativenumber=true
set incsearch
set hlsearch=false
set scrolloff=10
set ideamarks=true
