Xft.dpi: 120
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

URxvt.font:         xft:Hack-Regular:size=10
URxvt.boldFont:     xft:Hack-Bold:size=10:weight=bold
URxvt.italicFont:   xft:Hack-RegularOblique:size=10:slant=italic

URxvt*background: black
URxvt*foreground: grey
URxvt*loginShell: true
URxvt*scrollBar: false

